<?xml version="1.0" encoding="utf-8" ?>
<!-- Base de Datos de Arranque: -->
<configuration>
  <appSettings>
    <add key="Server" value="192.168.2.195" />
    <add key="Base_de_Datos" value="PantherCode" />
    <add key="Id_Usuario" value="jirigoin" />
    <add key="Contraseña_Usuario" value="54233708"/>
  </appSettings>
</configuration>